body {
    background-color: #f8f9fa;
    font-family: 'Segoe UI', sans-serif;
}

:root {
    --color-header: #766f67;
    --color-h1: #2c3e50;
}

.navbar>.container, .navbar>.container-fluid, .navbar>.container-lg, .navbar>.container-md, .navbar>.container-sm, .navbar>.container-xl, .navbar>.container-xxl {
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 10px;
}

.navbar-custom {
    background-color: var(--color-h1);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.logo-site {
    width: 120px;
    height: auto;
}

nav.navbar {
    overflow: hidden;
    background: linear-gradient(to right, rgb(239, 201, 201), rgb(131, 203, 216));
}

nav.navbar .container {
    height: inherit;
}

@media (min-width: 992px) {
    nav.navbar{
        overflow: visible;
    }

    a.nav-link {
        color: black;
        transition: .3s ease;
    }

    a.nav-link:hover {
        color: rgb(180, 99, 6);
    }

}


ul.my_ul {
    background-color: white;
    border-radius: 10px;
    padding: 0 10px;
}

.my_ul .nav-link:focus, .my_ul .nav-link:hover {
    color: #0d6efd;
}

@media (min-width: 992px) {
    .navbar-nav .nav-item:not(:last-child) {
        border-right: 1px solid;
    }
}


